# Configuración básica de Django
SECRET_KEY=escribe_aqui_una_clave_secreta_cualquiera
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de Datos PostgreSQL
DB_NAME=uride_db
DB_USER=tu_usuario_postgres_local
DB_PASSWORD=tu_clave_postgres_local
DB_HOST=localhost
DB_PORT=5432

# Configuración de Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend