# Entornos Virtuales
venv/
env/
.env

# Archivos de la base de datos (por si acaso usaste sqlite en algún momento)
*.sqlite3

# Archivos subidos por los usuarios
URide/media/

# Logs e información de depuración
*.log
URide/eventos_uride.log

# Archivos compilados de Python (Caché)
__pycache__/
*.py[cod]

# Apuntes personales (opcional)
URide/resumen_codigo.txt
