{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <div class="card shadow border-success">
            <div class="card-body">
                <h2 class="text-success">¡Listo!</h2>
                <p class="lead">
                    Tu contraseña ha sido actualizada correctamente.
                </p>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3"
                    >Iniciar sesión ahora</a
                >
            </div>
        </div>
    </div>
</div>
{% endblock %}
