{% extends 'base.html' %} 

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6 text-center">
        <div class="card shadow border-0 rounded-3 bg-white p-4 p-md-5">
            <div class="mb-4 text-info">
                <span class="fs-1">✉️</span>
            </div>
            <h3 class="fw-bold text-dark mb-3">¡Enlace Enviado con Éxito!</h3>
            <p class="text-secondary">
                Hemos enviado las instrucciones detalladas a tu correo institucional. Si la cuenta existe en U-Ride, recibirás el mensaje en unos instantes .
            </p>
            
            <div class="alert alert-warning border-0 shadow-sm small my-4 text-start">
                <strong>¿No encuentras el correo?</strong><br>
                1. Revisa detenidamente tu carpeta de <strong>Spam</strong> o correo no deseado.<br>
                2. Asegúrate de haber escrito tu dirección correctamente con el formato institucional (<code>@uta.edu.ec</code>).
            </div>
            
            <div class="d-grid col-sm-8 mx-auto mt-2">
                <a href="{% url 'login' %}" class="btn btn-primary fw-bold shadow-sm py-2">
                    Entendido, ir al Login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}